include .clang-format
include .clangd
include .github/workflows/ci.yml
include .gitignore
include CMakeLists.txt
include LICENSE
include README.md
include bindings/CMakeLists.txt
include bindings/core/EnvironmentObject_bindings.cpp
include bindings/core/Environment_bindings.cpp
include bindings/core/Food_bindings.cpp
include bindings/core/Genes_bindings.cpp
include bindings/core/Organism_bindings.cpp
include bindings/pybind11.cmake
include bindings/python_bindings.cpp
include bump_version.sh
include doc/uml/core.puml
include doc/uml/index.puml
include examples/basic.py
include examples/benchmark.py
include examples/chasing.py
include examples/dashboard.py
include examples/fix_size_mutation.py
include examples/food_path.py
include examples/oasis.py
include examples/oasis_dashboard.py
include examples/utils/__init__.py
include examples/utils/common.py
include examples/utils/visualize.py
include include/core/Environment.hpp
include include/core/EnvironmentObject.hpp
include include/core/Food.hpp
include include/core/Genes.hpp
include include/core/Organism.hpp
include include/index/DefaultSpatialIndex.hpp
include include/index/ISpatialIndex.hpp
include include/index/OptimizedSpatialIndex.hpp
include include/test/SpatialIndexUUIDTest.hpp
include include/utils/profiler.hpp
include setup.py
include src/CMakeLists.txt
include src/core/Environment.cpp
include src/core/Genes.cpp
include src/core/Organism.cpp
include src/index/DefaultSpatialIndex.cpp
include src/index/OptimizedSpatialIndex.cpp
include tests/cpp/CMakeLists.txt
include tests/cpp/SpatialIndexUUIDTest.cpp
include tests/cpp/gtest.cmake
include tests/python/test_chasing.py
include tests/python/test_food_path.py
exclude MANIFEST.in